.icon-48-servicess {
      background-image: url(../images/l_servicess.png);
      padding-left:60px!important;
}

.icon-48-services {
      background-image: url(../images/l_servicess.png);
      padding-left:60px!important;
}

.color-box-servicess { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}